.inputBlock {
    display: flex;
    flex-direction: column;
    max-width: 490px;
    margin: 10px;
}

.input {
    border: none;
    border-bottom: 2px solid #e7e7e7;
    padding: 20px 5px 5px 1px;
    outline: none;
}

.errorInput {
    border: none;
    border-bottom: 2px solid red;
    padding: 20px 5px 5px 1px;
    outline: none;
}

.error {
    color: red;
}